@tailwind base;
@tailwind components;
@tailwind utilities;

h2 {
  @apply text-3xl font-semibold;
}

h3 {
  @apply text-2xl font-semibold;
}

blockquote {
  border-left: 4px solid #ccc;
  padding-left: 1em;
  color: #555;
  font-style: italic;
}

/* scrollbar style css */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Hide scrollbar for specific container */
#category-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#category-container::-webkit-scrollbar {
  display: none;
}

/* For dark mode */
body[data-theme="dark"] {
  background-color: #121212;
  color: white;
}

/* Light mode */
body[data-theme="light"] {
  background-color: white;
  color: black;
}

body {
  transition: background-color 0.3s ease, color 0.3s ease;
}
